<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">What makes you SPECIAL?</div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Strength</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.strength.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Perception</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.perception.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Endurance</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.Endurance.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Charisma</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.charisma.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Agility</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.agility.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Luck</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.Luck.value}}</h4>
    </div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <div class="item-name">
      <h4>Strength</h4>
    </div>
    <div class="attribute-value">
      <h4>{{attributes.strength.value}}</h4>
    </div>
  </li>
</ol>