<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">What makes you SPECIAL?</div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <label class="item-name" for="data.attributes.strength.value">
      <h2 class="ability-mod rollable" data-roll="(@strength.value)d6x6cs>3" data-label="Strength Test">Strength</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.strength.value" value="{{data.attributes.strength.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="perception">
    <label class="item-name" for="data.attributes.perception.value">
      <h2 class="ability-mod rollable" data-roll="(@perception.value)d6x6cs>3" data-label="Perception Test">Perception</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.perception.value" value="{{data.attributes.perception.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="endurance">
    <label class="item-name" for="data.attributes.endurance.value">
      <h2 class="ability-mod rollable" data-roll="(@endurance.value)d6x6cs>3" data-label="Endurance Test">Endurance</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.endurance.value" value="{{data.attributes.endurance.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="charisma">
    <label class="item-name" for="data.attributes.charisma.value">
      <h2 class="ability-mod rollable" data-roll="(@charisma.value)d6x6cs>3" data-label="Charisma Test">Charisma</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.charisma.value" value="{{data.attributes.charisma.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="agility">
    <label class="item-name" for="data.attributes.agility.value">
      <h2 class="ability-mod rollable" data-roll="(@agility.value)d6x6cs>3" data-label="Agility Test">Agility</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.agility.value" value="{{data.attributes.agility.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="luck">
    <label class="item-name" for="data.attributes.luck.value">
      <h2 class="ability-mod rollable" data-roll="(@charisma.value)d6x6cs>3" data-label="Charisma Test">Luck</h2>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.luck.value" value="{{data.attributes.luck.value}}" data-dtype="Number" />
    </div>
  </li>
</ol>