<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">What makes you SPECIAL?</div>
  </li>
  <li class="item flexrow" data-item-id="strength">
    <label class="item-name" for="data.attributes.strength.value">
      <h4>Strength</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.strength.value" value="{{data.attributes.strength.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="perception">
    <label class="item-name" for="data.attributes.perception.value">
      <h4>Perception</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.perception.value" value="{{data.attributes.perception.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="endurance">
    <label class="item-name" for="data.attributes.endurance.value">
      <h4>Endurance</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.endurance.value" value="{{data.attributes.endurance.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="charisma">
    <label class="item-name" for="data.attributes.charisma.value">
      <h4>Charisma</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.charisma.value" value="{{data.attributes.charisma.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="agility">
    <label class="item-name" for="data.attributes.agility.value">
      <h4>Agility</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.agility.value" value="{{data.attributes.agility.value}}" data-dtype="Number" />
    </div>
  </li>
  <li class="item flexrow" data-item-id="luck">
    <label class="item-name" for="data.attributes.luck.value">
      <h4>Luck</h4>
    </label>
    <div class="attribute-value">
      <input type="text" name="data.attributes.luck.value" value="{{data.attributes.luck.value}}" data-dtype="Number" />
    </div>
  </li>
</ol>