<div class="attribute-roll">
    {{#if img}}
        <img src="{{img}}" height="75" />
    {{/if}}
    <div>
        <h2>{{ title }}</h2>
        <div class="roll-total">
            {{ total }} {{pluralize total "success" "successes"}}
        </div>
        {{#if success}}
            <h3 class="success">Success!</h3>
        {{/if}}
        {{#if failure}}
            <h3 class="failure">Failed!</h3>
        {{/if}}
        {{#if draw}}
            <h3>Draw!</h3>
        {{/if}}
        <div class="dice-rolls">
            Rolled {{#each dice as | die id |}}
                {{#gt die.result 3}}
                    <span class="roll-result success">{{die.result}}</span>
                {{else}}
                    <span class="roll-result">{{die.result}}</span>
                {{/gt}}
            {{/each}}
        </div>
    </div>
</div>