.attribute-roll {
    display: flex;
    align-items: center;
    column-gap: 15px;
    
    .success {
        color: #058C00;
    }

    .failure {
        color: #AC0005;
    }
    .dice-rolls .roll-result {
        background-color: $c-dark;
        color: $c-white;
        display: inline-block;
        padding: 0 5px;
    }

    .dice-rolls .roll-result.success {
        background-color: #058C00;
        color: white;
    }
}

.sheet header.sheet-header .dice-row {
    padding-top: 13px;
    img {
        height: 30px;
        border: none;
        &:hover {
            box-shadow: 0 0 10px red;
            background-color: #ee887c;
        }
    }
}
