.attribute-roll {
    .success {
        color: #058C00;
    }

    .failure {
        color: #AC0005;
    }
    .dice-rolls .roll-result {
        background-color: $c-dark;
        color: $c-white;
        display: inline-block;
        padding: 0 5px;
    }

    .dice-rolls .roll-result.success {
        background-color: #058C00;
        color: white;
    }
}

.dice-row {
    padding-top: 13px;
}